<nav>
    <div class="nav-wrapper">

        <ul id="nav-mobile" class="left ">
            <li>
                <a href="/users">
                    Home
                </a>
            </li>


            <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Mongoose Associations</a>

            <!-- Dropdown Structure -->
            <ul id='dropdown1' class='dropdown-content'>
                <li><a href="/users">All Users</a></li>
                <li><a href="/users/new">New User</a></li>
                <li><a href="/foods">All Foods</a></li>
                <li><a href="/foods/new">New Food</a></li>

            </ul>

    </div>
</nav>