<nav>
    <div class="nav-wrapper">

        <ul id="nav-mobile" class="right ">
            <li>
                <a href="/<%= home_link %>">
                    Home
                </a>

                <li>
                    <a href="/<%= other_link %>">
                        <%= other_link_name %>
                    </a>
                </li>
            </li>
        </ul>

    </div>
</nav>