<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/materialize.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Mission</title>
</head>

<body>

    <div class="container">
        <div class="card-panel">
            <div>
                <h3 class="center-align">Edit Mission </h3>

            </div>
        </div>
        <div class="row">
            <form class="col s12" action="/missions/<%= mission._id %>?_method=PUT" method="POST">

                <div class="row">
                    <div class="input-field col s12">
                        <em>Title</em>
                        <input id="name" type="text" name="title" value=" <%= mission.title %>" required>

                    </div>

                </div>

                <div class="row">

                    <div class="row">
                        <div class="input-field col s12">
                            <em>Star System</em>
                            <textarea id="textarea1" class="materialize-textarea" name="starSystem" required><%= mission.starSystem %></textarea>
                        </div>
                    </div>

                </div>

                <p>
                    <label>
                        <input type="checkbox" class="filled-in" name="success" checked="<%= mission.success %>" />
                        <span>Success?</span>
                    </label>
                </p>

                <button class="btn waves-effect waves-light" type="submit" name="action">Submit

                </button>
            </form>
        </div>



</body>

</html>