<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/materialize.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Missions</title>
</head>

<body>

    <div class="container">

        <ul class="Missions collection with-header">
            <li class="collection-header">
                <h4> Missions <button class="btn waves-effect waves-light" type="button" name="action" onclick="window.location='/Missions/new';">
                        Add
                    </button>
                </h4>

            </li>
            <% missions.forEach((element, index) => { %>

                <li class="collection-item">
                    <div>
                        <h5>
                            <a href="/missions/<%=element._id %>">
                                <%= element.title %>
                                    <form action="/missions/<%= element._id %>?_method=DELETE" method="POST">
                                        <button class="btn btn-flat secondary-content">Delete</button>
                                    </form>
                            </a>
                        </h5>
                        <a href="/missions/<%= element._id %>/edit" class="secondary-content"><i
                            class="material-icons">Edit</i></a>
                    </div>
                </li>
                <% }) %>
        </ul>
    </div>

</body>

</html>