<div class="container">
    <div class="card-panel">
        <div>
            <h3 class="center-align">Add Album <i class="medium material-icons">headset</i> </h3>


        </div>
    </div>
    <div class="row">
        <form class="col s12" action="/albums" method="POST">

            <div class="row">
                <div class="input-field col s12">
                    <em>Name</em>
                    <input id="name" type="text" name="name" required>

                </div>

            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit

            </button>
        </form>
    </div>